* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  padding: 10px;
  height: 50px;
  align-items: center;
  box-shadow: 0px 5px 7.5px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: white;
}

.nav--logo {
  height: 40px;
  margin-right: 0px;
}

.nav--logotext {
  width: 300px;
  display: block;
  align-self: center;
  margin-top: 5px;
}

.front--main {
  background: url(./images/frontpagebackground.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.front--main > a {
  text-decoration: none;
}

.page--button {
  border-radius: 30px;
  border-color: transparent;
  background-color: #9917FF;
  color : black;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
  margin-top: 20px;
  /* background: linear-gradient(92.76deg, #ECAFF1 25.13%, #21E2FD 43.61%, #A9FD21 73.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent; */
}

.page--button:hover  {
  background-color: #7210bd;
  cursor: pointer;
}

.question {
  display: flex;
  flex-direction: column;
  min-width: 490px;
  max-height: 210px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border-bottom: 1px solid black;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top: 10px;
}

.questions--div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.questions--div > button {
  margin: 40px 0;
}

.question--buttons {
  margin-top: -15px;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.question--buttons > input[type='radio'] {
  display: none;
}

.question--buttons > input[type='radio'] + label {
  margin: 15px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  background-color: white;
  transition: .2s ease;
  border-radius: 50%;
  cursor: pointer;
}

.question--buttons > input[type='radio']:checked + label,
.question--buttons > input[type='radio']:hover + label  {
  background-color: black;
}

.question--buttons > h3 {
  margin: 5px;
}

.q--neutral + label {
  width:25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
}

.q--slight + label {
  width:30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
}

.q--strong + label {
  width: 38px;
  height: 38px;
  min-width: 38px;
  min-height: 38px;
}

.results--div {
  position: absolute;
  top: 40px;
  font-family: 'Poppins', sans-serif;
}