.results-box {
    width: 230px;
    height: 196px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #876AC5;
    border-radius: 20px;
    margin-left: 20px;
    position: absolute;
    left: 30px;
    top: 100px;
}

.result-image {
    width: 120px;
    height: 120px;
    position: absolute;
    margin-left: 60px;
    margin-top: 45px;
}

.results-desc-title {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 220px;
    margin-left: 20px;
  }
  
  .results-desc {
    font-size: 20px;
    font-weight: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-top: -20px;
  }

  .rectangle-1 {
    width: 400px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #876AC5;
    margin-left: 20px;
    position: absolute;
    left: 90vb;
    top: 100px;
  }

  .rectangle-desc1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 12px;
    width: 300px;
    padding-left: 150px;
    padding: 15px 20px 30px 130px;
  }

  .rectangle-2 {
    width: 400px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #876AC5;
    margin-left: 20px;
    position: absolute;
    left: 90vb;
    top: 300px;
  }

  .rectangle-desc2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 12px;
    width: 300px;
    padding-left: 150px;
    padding: 15px 20px 30px 130px;
  }

.rectangle-title1 {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -30px;
    margin-left: 40px;
}

.rectangle-title2 {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -30px;
    margin-left: 50px;
}

