* {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
}

h1 {
  color: white;
  font-size: calc(0.8vw + 0.8rem);
}

h1.text-results {
  font-size: calc(0.8vw + 0.8rem);
}

p.text-results {
  font-size: calc(0.6vw + 0.6rem);
}

@media (min-width: 993px) {
  .overall {
    margin-left: 18vw;
    margin-right: 18vw;
  }
}

.overall-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-container {
  padding-top: 50px;
  display: flex;
}

.right-section {
  display: flex;
  flex-direction: column;
}

.results-box {
  border-radius: 20px;
  background: #876ac5;
  margin: 10px;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.results-box2,
.results-box3,
.results-button {
  border-radius: 20px;
  background: #876ac5;
  margin: 10px;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.text-results {
  color: white;
  text-align: center;
}

.results-button {
  display: flex;
  border-radius: 20px;
  background: #876ac5;
  margin: 10px;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

@media (max-width: 992px) {
  h1 {
    font-size: calc(2vw + 1.2rem);
  }
  .overall-container {
    min-width: 100%;
  }
  .results-container {
    padding-top: 50px;
    flex-direction: column; /* to make it responsive in mobile mode */
  }

  .results-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90%;
  }

  .result-image {
    padding-right: 20px;
  }

  .overall {
    display: flex;
    flex-wrap: wrap;
  }

  .button1 {
    display: flex;
    margin: 0 auto;
    padding-top: 50px;
  }

  .results-button {
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 0 auto;
    padding: 30px;
    /* min-width: 50%; */
  }
}
